<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Not Found</title>
    <meta charset='UTF-8'>
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
  
    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
     <!-- A makeshit favicon I made -->
     <link href="{{url_for('static', filename='favicon.ico')}}" rel="shortcut icon" type="image/x-icon" />

    <!--Styles-->
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
    
    

  </head>
  
  <body>
    <h1>404!</h1>
    <h2>Looks like the page you're looking for hasn't been made</h2>
  </body>
</html>